.puzzle-grids-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.puzzle-form-container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    margin-left: 10px;
    border: solid black 2px;
}

.grid-title {
    display: flex;
    justify-content: center;
}

.cell-input {
    border: solid black 1px;
    outline: none;
    text-align: center;
}

.form-container {
    width: 500px;
    border: solid black 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}